<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h3>RULES</h3>
    <p>You have 5 attempts.<br>Try to guess which numbers ABCDEFG are in one group so that the other group is of equal sum.
    <br>The total sum of all the numbers is 32.<br>The form of the answer needs to be capital letters, for example: ABC
    </p>
    <a href="/play_again"><input type="button" value="Start page"></a>
</body>
</html>